<!DOCTYPE html>
<html>
	<head>
		<title>Label</title>
		
		<script src="/static/scripts/jquery.min.js"></script>
		<link href="/static/styles/bootstrap.min.css" rel="stylesheet"></link>
		<script src="/static/scripts/bootstrap.min.js"></script>
		
		<script src="/static/scripts/label.js?v={{v}}"></script>
		<link href="/static/styles/label.css?v={{v}}" rel="stylesheet"></link>
	</head>
	
	<body>
		<img id="hidden_img" src="{{ passed_url }}"></img>

		<div id="sidebar">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button id="back_button" class="btn btn-default" type="button">back</button>
				</div>
				
				<div id="label_dropdown" class="btn-group dropdown" role="group">
					<text id="class_name" class="form-control btn btn-warning dropdown-toggle" data-toggle="dropdown">{{categories[0].name}}</text>
				
					<ul class="dropdown-menu dropdown-menu-right">
						{% for category in categories %}
							<li class="dropdown-item"><a href="#">{{category.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
				
			<div id="labels_list" class="list-group"></div>
			
			<button id="send_button" class="btn btn-success btn-block" type="button">SEND DATA</button>
		</div>


		<div id="content" class="container">
			<canvas id="canvas"></canvas>
		</div>
	</body>
</html>
